.content{
    .content--padding-20{
        padding-top:20px;
    }
    .content__text--justify{
        text-align: justify;
        text-justify: inter-word;
    }
}
.parallax-container {
    height: 200px;
}
.parallax-container2 {
    height: 200px;
}
.main__cardsection--padding-20{
    padding-top:20px;
}
.content__parragraph--padding-20{
    padding-top:20px;
}
